@media (max-width: 768px) {
  .container {
    text-align: center;
  }
  .container.cityweather {
    padding-top: 24px;
    padding-left: 0px;
  }
  .date {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  a#celsiuse-link {
    display: none;
  }
  .divider {
    display: none;
  }
  a#fahrenheit-link {
    display: none;
  }

  div.tempUnits {
    display: block;
    align-items: center;
  }
  h1 {
    width: 100%;
  }
  .col-forecast {
    width: 112px !important;
  }
}
body {
  background: #faf7ff;
}
.container.weather-app {
  border: 1px solid #c7b4ee;
  border-radius: 32px;
  margin: 64px auto;
  padding: 24px;
}
.container.search {
  padding: 0px;
}

.enter-city {
  height: 56px;
  background: #f4ebff;
  border: 2px solid #ffffff;
  border-radius: 32px;
  width: 100%;
  padding: 8px 16px;
}
input:focus-visible {
  outline-width: 2px;
  outline-color: #6838c8;
}
.search-button {
  background: #9e77ed;
  border: 2px solid #ffffff;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  height: 56px;
  padding: 8px 16px;
  width: 100%;
}
.search-button:hover {
  opacity: 80%;
}
button {
  background-color: rgba(214, 187, 251, 100%);
  border-radius: 32px;
  border: 2px solid #ffffff;
  color: #6838c8;
  cursor: pointer;
  height: 56px;
  padding: 8px 16px;
  width: 100%;
}
button:hover {
  opacity: 80%;
}

button:focus {
  outline-width: 0px;
}
div.tempUnits {
  display: flex;
  align-items: center;
  height: 100%;
}
.cityweather {
  display: flex;
  color: rgba(105, 65, 198, 100%);
  background-color: rgba(214, 187, 251, 100%);
  padding: 24px 0px 24px 24px;
  border-radius: 32px;
  max-height: 100%;
  align-items: center;
}
col.temp {
  align-items: center;
}

.status {
  text-align: center;
  display: flex;
  color: rgba(105, 65, 198, 100%);
  padding: 24px;
  border-radius: 100px;
  margin: 24px 0px 24px 24px;
  background-color: rgba(214, 187, 251, 100%);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  width: 248px;
  margin: 0px;
}
.date {
  font-size: 18px;
  font-weight: 400;
  margin-left: 0px;
  width: 100%;
}

.Precipitation,
.Humidity,
.wind {
  width: 144px;
}
.weather-image {
  vertical-align: bottom;
}
h1 {
  font-size: 96px;
  font-weight: 900px;
}

.weather-status {
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  padding-top: 4px;
}

.weather-icon {
  position: static;
  width: 30px;
  height: 30px;
  left: 27px;
  top: 29px;
}

.row.weather-forecast {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  color: #9e77ed;
  text-align: center;
  margin: 0px;
}
.col-forecast {
  width: 128px;
  border-width: 2px;
  background-color: #f4ebff;
  padding: 24px;
  border-radius: 100px;
  display: inline-block;
}
.days {
  font-size: 20px;
  font-weight: 700;
}
.low-temp {
  font-size: 14px;
}

.footer {
  display: block;
  margin: 0px auto;
  color: #c7b4ee;
  padding: 48px;
  text-align: center;
}
a.github-link,
a.coder,
a.netlify-link {
  color: #9e77ed;
  font-weight: 600;
}
.github-link,
.coder,
.netlify-link:hover {
  color: #6838c8;
}
.tempUnits .active {
  color: #6838c8;
  cursor: default;
}
.tempUnits .active:hover {
  text-decoration: none;
}
